---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import 'normalize',
		'color',
		'form-elements',
		'grid',
		'typography',
		'breakpoint1',
		'breakpoint2',
		'breakpoint3';
//--------------------------------------------home page styling------------------------


.wrapper{

	//-----------------------------------------navigation style-------------------
	.site-nav{
		box-sizing:border-box;
		overflow:hidden;
		margin:0 auto;
		
		.trigger{
			background-color:$color-primary;
			padding-top: .5em;
			padding-bottom:.5em;
			margin:0 auto;
			

		.site-title{
			text-align: left;
		}


			.page-link{
				margin:0 auto;
				padding:1em;
			
				color: $color-secondary;
				text-decoration: none;
				font-size: 1em;
				font-family: $font-header;
			}
		}
	}//end of site-nav tag

	.home_main{		
	
	}//end of home main

}//end of wrapper tag


//------------------------------------------BREAKPOINT 1-------------------------------
@media(min-width:720px){

.site-nav{
		
		margin:0 auto;

		
		.trigger{
			
			padding-top: .5em;
			padding-bottom:.5em;
			text-align: center;
			margin:0 auto;
			
			.page-link{
				margin:0 auto;
				padding:1em;
				color: $color-secondary;
				text-decoration: none;
				font-size: 1em;
				font-family: $font-header;
			}
		}
	}//end of site-nav tag
	


}//end of media tag