//----------------------------PRIMARY SITE COLORS

$color-primary:#851b1c;
$color-primary-alt:#b22426;
$color-secondary:#F2EDDD;
$color-text:#2F131F;
$color-attention:#419AE7;
$color-white:#ffffff;


//----------------------------SECONDARY SITE COLORS, USED ONLY ON SCHEDULE PAGE

$color-session:#8AD652;
$color-todo:#B34D76;
$color-event:#9028B4;

//------------------------------------PRIMARY COLOR STYLING------------------------//

.colors{
	box-sizing:border-box;
	overflow:hidden;


	div{
		width: 19%;
	}


	.red{
		display:inline-block;
	
		text-align: center;
		.circle{
			background-color: $color-primary;
			height: 3em;
			width: 3em;
			border-radius:50%;
		
		}
	}
	.red_alt{
		display:inline-block;
		
		.circle{
			background-color: $color-primary-alt;
			height: 3em;
			width: 3em;
			border-radius:50%;

		}
	}
	.blue{
		display:inline-block;
	
		.circle{
			background-color: $color-attention;
			height: 3em;
			width: 3em;
			border-radius:50%;
		}
	}
	.purple{
		display:inline-block;
	
		.circle{
			background-color: $color-text;
			height: 3em;
			width: 3em;
			border-radius:50%;
		}
	}
	.beige{
		display:inline-block;
	
		.circle{
			background-color: $color-secondary;
			height: 3em;
			width: 3em;
			border-radius:50%;
		}
	}

	//------------------------------------SECONDARY COLORS-----------------------------//
	.session{
		display: inline-block;
		.circle{
			background-color: $color-session;
			height: 3em;
			width: 3em;
			border-radius:50%;
		}
	}
	.todo{
		display: inline-block;
		.circle{
			background-color: $color-todo;
			height: 3em;
			width: 3em;
			border-radius:50%;
		}
	}
	.event{
		display: inline-block;
		.circle{
			background-color: $color-event;
			height: 3em;
			width: 3em;
			border-radius:50%;
		}
	}


}//closing colors tag//

//------------------------------------------BUTTONS STYLING---------------------------------//

.button_color{

	:first-child{
		display: inline-block;
		a{
			background-color:$color-primary-alt;
			text-decoration: none;
			color:$color-secondary;
			padding: 0.2em;
			padding-left:1.5em;
			padding-right:1.5em;
			border-radius: 4px;
		}
	}
	:nth-child(2){
		display: inline-block;
		a{
			background-color:$color-primary;
			text-decoration: none;
			color:$color-secondary;
			padding: 0.2em;
			padding-left:1.5em;
			padding-right:1.5em;
			border-radius: 4px;
		}
	}
	:nth-child(3){
		display: inline-block;
		a{
			background-color:$color-white;
			text-decoration: none;
			color:$color-primary;
			padding: 0.2em;
			padding-left:1.5em;
			padding-right:1.5em;
			border-radius: 4px;
	
		}
	}
	:nth-child(4){
		display: inline-block;
		a{
			background-color:$color-primary-alt;
			text-decoration: none;
			color:$color-secondary;
			padding: 0.2em;
			padding-left:1.5em;
			padding-right:1.5em;
			border-radius: 4px;
		}
	}

}// end of button_color tag



























