//----------------------------PRIMARY SITE COLORS

$color-primary:#851b1c;
$color-primary-alt:#b22426;
$color-secondary:#FAF8F1;
$color-secondary-alt:#F3EDDC;
$color-text:#2F131F;
$color-attention:#419AE7;

$color-white:#ffffff;


//----------------------------SECONDARY SITE COLORS, USED ONLY ON SCHEDULE PAGE

$color-session:#8AD652;
$color-todo:#B34D76;
$color-event:#9028B4;
$color-grey:#D6D0D2;

//------------------------------------PRIMARY COLOR STYLING------------------------//

.colors{
	box-sizing:border-box;
	overflow:hidden;
	margin:2%;

	h1{
		margin:0 auto;
	}

	p{
		margin:0 auto;
		margin-bottom:1em;
	}


	div{
		width: 20%;

	}


	.red{
		display:inline-block;
		
		.circle{
			background-color: $color-primary;
			height: 3em;
			width: 3em;
			border-radius:50%;


		}
		p{
			
		}
	}
	.red_alt{
		display:inline-block;
		
		.circle{
			background-color: $color-primary-alt;
			height: 3em;
			width: 3em;
			border-radius:50%;
			

		}
	}
	.blue{
		display:inline-block;
	
		.circle{
			background-color: $color-attention;
			height: 3em;
			width: 3em;
			border-radius:50%;
		}
	}
	.purple{
		display:inline-block;
	
		.circle{
			background-color: $color-text;
			height: 3em;
			width: 3em;
			border-radius:50%;
		}
	}
	.beige{
		display:inline-block;
	
		.circle{
			background-color: $color-secondary;
			height: 3em;
			width: 3em;
			border-radius:50%;
		}
	}

	.beige_alt{
		display:inline-block;
	
		.circle{
			background-color: $color-secondary-alt;
			height: 3em;
			width: 3em;
			border-radius:50%;
		}
	}
	

	//------------------------------------SECONDARY COLORS-----------------------------//
	.session{
		display: inline-block;
		.circle{
			background-color: $color-session;
			height: 3em;
			width: 3em;
			border-radius:50%;
		}
	}
	.todo{
		display: inline-block;
		.circle{
			background-color: $color-todo;
			height: 3em;
			width: 3em;
			border-radius:50%;
		}
	}
	.event{
		display: inline-block;
		.circle{
			background-color: $color-event;
			height: 3em;
			width: 3em;
			border-radius:50%;
		}
	}
	.grey{
			display:inline-block;
		
			.circle{
				background-color: $color-grey;
				height: 3em;
				width: 3em;
				border-radius:50%;
			}
		}

}//closing colors tag//

//------------------------------------------BUTTONS STYLING---------------------------------//

.button_color{
	margin:2%;
	overflow:hidden;
	box-sizing:border-box;

	:first-child{
		display: inline-block;
		

		a{
			background-color:$color-primary-alt;
			text-decoration: none;
			color:$color-secondary;
			padding: 0.2em;
			padding-left:1.5em;
			padding-right:1.5em;
			border-radius: 4px;

		}
	}
	:nth-child(2){
		display: inline-block;
		
		a{
			background-color:$color-primary;
			text-decoration: none;
			color:$color-secondary;
			padding: 0.2em;
			padding-left:1.5em;
			padding-right:1.5em;
			border-radius: 4px;
		}
	}
	:nth-child(3){
		display: inline-block;
		a{
			background-color:$color-white;
			text-decoration: none;
			color:$color-primary;
			padding: 0.2em;
			padding-left:1.5em;
			padding-right:1.5em;
			border-radius: 4px;
			border:1px solid $color-text;
		}
	
		}
	}
	:nth-child(4){
		display: inline-block;
		a{
			background-color:$color-primary-alt;
			text-decoration: none;
			color:$color-secondary;
			padding: 0.2em;
			padding-left:1.5em;
			padding-right:1.5em;
			border-radius: 4px;

		}

}// end of button_color tag




//--------------------------------------------BREAKPOINT 1----------------------------------------

@media(min-width:720px){

	.color_wrapper{
		max-width: 900px;
		margin:0 auto;
	}

	.colors{
	box-sizing:border-box;
	overflow:hidden;
	margin:2%;

	h1{
		margin:0 auto;
	}

	p{
		margin:0 auto;
		margin-bottom:1em;
	}


	div{
		width: 20%;

	}


	.red{
		display:inline-block;
		
		.circle{
			background-color: $color-primary;
			height: 5em;
			width: 5em;
			border-radius:50%;


		}
		p{
			
		}
	}
	.red_alt{
		display:inline-block;
		
		.circle{
			background-color: $color-primary-alt;
			height: 5em;
			width: 5em;
			border-radius:50%;
			

		}
	}
	.blue{
		display:inline-block;
	
		.circle{
			background-color: $color-attention;
			height: 5em;
			width: 5em;
			border-radius:50%;
		}
	}
	.purple{
		display:inline-block;
	
		.circle{
			background-color: $color-text;
			height: 5em;
			width: 5em;
			border-radius:50%;
		}
	}
	.beige{
		display:inline-block;
	
		.circle{
			background-color: $color-secondary;
			height: 5em;
			width: 5em;
			border-radius:50%;
		}
	}

	.beige_alt{
		display:inline-block;
	
		.circle{
			background-color: $color-secondary-alt;
			height: 5em;
			width: 5em;
			border-radius:50%;
		}
	}
	

	//------------------------------------SECONDARY COLORS-----------------------------//
	.session{
		display: inline-block;
		.circle{
			background-color: $color-session;
			height: 5em;
			width: 5em;
			border-radius:50%;
		}
	}
	.todo{
		display: inline-block;
		.circle{
			background-color: $color-todo;
			height: 5em;
			width: 5em;
			border-radius:50%;
		}
	}
	.event{
		display: inline-block;
		.circle{
			background-color: $color-event;
			height: 5em;
			width: 5em;
			border-radius:50%;
		}
	}
	.grey{
			display:inline-block;
		
			.circle{
				background-color: $color-grey;
				height: 5em;
				width: 5em;
				border-radius:50%;
			}
		}

}//closing colors tag//




}//end media tag
























