$font-header:'Bitter', serif;
$font-body:'Work Sans', 'PT Sans', sans-serif;
$font-size-headers:2.083em;
$font-size-body: 1em;
$line-height:2.083em;

$color-primary:#851b1c;
$color-primary-alt:#b22426;
$color-secondary:#F2EDDD;
$color-text:#2F131F;
$color-attention:#419AE7;
$color-white:#ffffff;

$color-session:#8AD652;
$color-todo:#B34D76;
$color-event:#9028B4;
//------------------------------------------EXAMPLE SIDEBAR STYLING-------------------------------
.form-nav{
	box-sizing:border-box;
	overflow:hidden;
	margin-bottom:2em;
	h1{
		margin:2%;
		padding-bottom:1em;
	}

	h2{
		margin:2%;
	}
	.desk_nav_display{
		display: inline-block;
		background-color: $color-primary;
		overflow: hidden;
		margin:2%;
		width: 358px;


		a{
			font-family: $font-body;
			text-decoration: none;
			color: $color-text;
			padding:.2em;
			background-color:$color-white;
			display: inline-block;
			margin: 2%;
			padding-right:3em;
		}
		a:nth-of-type(5){
			padding-bottom:5em;
		}
		p{
			color: $color-secondary;
			float:right;
			margin:2%;

		}
		button{

			background-color:$color-white;
			padding: 0.2em;
			padding-left:1.5em;
			padding-right:1.5em;
			border-radius: 4px;
			color:$color-primary;
			margin:2%;
			border: 1px solid $color-text;
		}


	}//end of des_nav_display


	p{
		margin:2%;
			}
}//end of form nav tag

.calendar{
	margin-bottom:2em;
	
	overflow:hidden;
	.session_form{
		background-color: $color-session;
		display: inline-block;
		padding:1em;



		p{
			background-color:$color-text;
			color: $color-text;
		}
	}
	.session_form{
		background-color: $color-session;
		display: inline-block;
		padding:1em;
		width: 176px;
		margin-bottom: 2%;


		p{
			background-color:$color-text;
			color: $color-text;
		}
	}
	.to_do{
		background-color: $color-todo;
		display: inline-block;
		padding:1em;
		width: 176px;
		margin-bottom: 2%;

		

		p{
			background-color:$color-text;
			color: $color-text;
		}
	}
	.events{
		
		background-color: $color-event;
		display: inline-block;
		padding:1em;
		width: 176px;
		margin-bottom: 2%;

		a{
			background-color:$color-event;
			color: $color-text;
		}


		p{
			background-color:$color-text;
			color: $color-text;
		}
	}

}//-closing calendar tag



.drop_down{

	margin-bottom:2em;
	.time{
		display: block;
		border:1px solid $color-text;
		font-size: $font-size-body;
		font-family:$font-body;
		width: 4em;
		text-align: center;
		margin: auto;
		padding-left:1em;
		padding-right:1em;

	}
	p:first-of-type{
		background-color:$color-secondary-alt;
	}
}

.links{
	margin-bottom:2em;

	h1{
		color:$color-attention;
		text-decoration: underline;
	}
}

.icons{

	.fa{
		font-size: 4em;;
	}
	p{
		margin-bottom:2em;
	}
}



//----------------------------------------------------BREAKPOINT 1-------------------------------------------
@media(min-width:720px){

	.form_wrapper{
		max-width: 900px;
		margin:0 auto;
	}

		.form-nav{
		box-sizing:border-box;
		overflow:hidden;
		h1{
			margin:2%;
			padding-bottom:1em;
		}

		h2{
			margin:2%;
		}
		.desk_nav_display{
			float:left;
			
			background-color: $color-primary;
			overflow: hidden;
			margin:2%;
			width: 358px;

			a{
				font-family: $font-body;
				text-decoration: none;
				display: inline-block;
				color: $color-text;
				padding:0em;
				background-color:$color-white;
				display: inline-block;
				margin: 2%;
				padding-right:4em;
			}
			a:nth-of-type(5){
				padding-bottom:5em;
			}
			p{
				color: $color-secondary;
				float:right;
				margin:2%;

			}
			button{

				background-color:$color-white;
				padding: 0.2em;
				padding-left:1.5em;
				padding-right:1.5em;
				border-radius: 4px;
				color:$color-primary;
				margin:2%;
				border: 1px solid $color-text;
			}


		}//end of des_nav_display


		p{
			margin:2%;
			float:left;
			width:40%;

				}
	}//end of form nav tag

}//end media tag





