$font-header:'Bitter', serif;
$font-body:'Work Sans', 'PT Sans', sans-serif;
$font-size-headers:2.083em;
$font-size-body: 1em;
$line-height:2.083em;


h1{
	font-family: $font-header;
	font-size: $font-size-headers;
}
p{
	font-family:$font-body;
	font-size:$font-size-body;
}
