$font-header:'Bitter', serif;
$font-body:'Work Sans', 'PT Sans', sans-serif;
$font-size-headers:2.083em;
$font-size-body: 1em;
$line-height:2.083em;


h1{
	font-family: $font-header;
	font-size: $font-size-headers;
	margin:0 auto;


}
p{
	font-family:$font-body;
	font-size:$font-size-body;
	line-height:$line-height;
	margin:0 auto;
}

a{
	font-family: $font-body;
}

.typography{
	margin:2%;
	h2{
		font-family: $font-header;
		
	}
	h3{
		font-family: $font-header;
		
	}
.headers{
	margin-bottom:3em;

	h1{
		margin-bottom: 1em;
	}
}

.paragraphs{
	line-height: $line-height;
}
	
}

@media(min-width:720px){

.typography{
	width:75%;
	margin:0 auto;
	

	.paragraphs{
		p{
			line-height: $line-height;
		}

	}
}

}





